.wrapper {
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    border-top: 1px solid #EEEEEE;
    position: absolute;
    bottom: 0;
    background-color: white;
  }
  
  /* nav태그 아래의 자식들을 수평정렬하기 위한 설정 */
  nav {
    overflow: hidden;
  }
  /* nav태그 아래의 div태그들을 수평정렬 및 세로길이 설정 */
  .nav-link {
    /* 수평정렬, 5개의 button을 각각 20% width만큼 할당 */
    float: left;
    width: 25%;
    text-align: center;
  
    /* 세로길이 설정 */
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* 하단 네비바의 메뉴를 눌렀을 때 색상 변경*/
  .nav-link .active{
    color: grey;
  }
  
  /* 하단 네비바의 메뉴를 눌렀을 때 색상 변경*/
  .nav-link .nav-item {
    color: #ef5c89;
  }